{% extends 'main/layout.html' %}

{% block title %} parts {% endblock %}


{% block content %}

<div class="conteiner">
    <div class="">
        <p>По вашему запросу найдено следующее:</p>
            <div class="col">
                <div class=" p-3 border bg-light mb-2" style="border-radius: 12px;">
                    <img src="" alt="здесь должно быть фото">
                    <p>Наименование запчасти</p>
                    <p>Краткое описание</p>
                    <button type="submit" class="btn btn-success">Добавить в корзину</button>
                </div>
                <div class="p-3 border bg-light mb-2" style=" border-radius: 12px;">
                    <img src="" alt="здесь должно быть фото">
                    <p>Наименование запчасти</p>
                    <p>Краткое описание</p>
                    <button type="submit" class="btn btn-success">Добавить в корзину</button>
                </div>
                <div class="p-3 border bg-light mb-2" style=" border-radius: 12px;">
                    <img src="" alt="здесь должно быть фото">
                    <p>Наименование запчасти</p>
                    <p>Краткое описание</p>
                    <button type="submit" class="btn btn-success">Добавить в корзину</button>
                </div>
            </div>
    </div>
</div>

{% endblock %}

